# Node
node_modules/
dist/
build/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
